<div>
  <form method="post" action="/sessions">
    <div>
      <label for="user[email]">email:</label>
      <input type="email" name="user[email]" required>
    </div>
    <div>
      <label for="user[password]">password:</label>
      <input type="password" name="user[password]" required>
    </div>
    <div>
      <input type="submit" value="Log In">
    </div>
  </form>
</div>
