<div class="container">
  <h2>Answer this question:</h2>
  <div class="errors">
    <% if @errors %>
      <ul>
      <% @errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
      </ul>
    <% end %>
  </div>

  <form id="answer-form" method="POST" action='/questions/<%= @question.id %>'>

    <label for="content">Content</label>
    <textarea form="answer-form" name="content" rows="10" cols="50" placeholder='Share your wisdom here...'></textarea>
    <input type="submit" value="Submit">
  </form>
</div>